@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

html,
body {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #666;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.8);
	user-select: none;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	/* background: darken($dark-background, 1%); */
	background-color: #181818;
}

::-webkit-scrollbar-thumb {
	/* background-color: rgba($primary, 0.3); */
	background-color: rgba(55, 90, 127, 0.5);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	/* background-color: $primary; */
	background-color: #375a7f;
}

.neon-text {
	color: #fff;
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 4px #0df, 0 0 8px #0df, 0 0 12px #0ff;
}

.neon-box {
	border: 2px solid #fff;
	box-shadow: 0 0 2px #fff, 0 0 4px #0df, 0 0 10px #0ff, 0 0 4px #0df inset, 0 0 10px #0ff inset;
}

.icon-loop,
.icon-yoyo {
	font-size: 1.25em !important;
}
