$primary-color: #375a7f;
$on-primary: #dee2e6;
$text-color: rgba(#fff, 0.4);

$background: rgb(34, 34, 34);
$dark-background: #1b1b1b;

$shadow-color: rgba(#101010, 80%);

$shadow-level-1: 0 0 12px $shadow-color;

$topbar-height: 25px;
$left-panel-width: 320px;